/* www.alsina.xyz | Alchemically bonded by Sebastian Alsina (@youngseebi) */


/* [==] COLORS [==]
 * 1:
 * 2:
 * 3:
 * 4:
*/


/* [==] FONTS [==]*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

/*
 * [==] General [==]
*/

html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: #222222;
    font-family: 'Lato', sans-serif;
}

a {
    color: red;
}

.landing {
    width: 100%;
    height: 100%;
    background-image: url(../img/movement-apparel-video-thumbnail.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.landing video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header {
    width: 100%;
    height: auto;
    padding: 22px;
    position: relative;
    z-index: 2;
    color: black;
    text-align: center;
}

.header a.search {
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: 12px;
    right: 12px;
    color: black;
}

.header .logo,
.header .links {
    width: auto;
}

.header .logo {
    display: inline-block;
    height: 100px;
    margin-bottom: 22px;
}

.header .logo img {
    height: 100%;
}

.header .links {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow-y: scroll;
    padding: 12px;
    font-size: 0.8em;
}

.header span {
    margin-right: 16px;
    opacity: 0.2;
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .header .logo {
        height: 80px;
    }
    .header span {
        display: inline-block;
    }
    .header .links a {
        margin-right: 22px;
    }
}

.header .links a {
    margin-right: 44px;
    color: white;
    color: black;
}

.header .links a:last-of-type {
    margin-right: 0;
}

.header a.mobile-nav-btn {
    display: none;
    color: black;
    float: right;
    font-size: 2em;
}

.header a.mobile-nav-btn i {
    transition: 0.2s ease all;
}

.header a.mobile-nav-btn i.active {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

.mobile-nav {
    width: 90%;
    margin: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 22px;
    display: none;
    position: relative;
    z-index: 2;
}

.mobile-nav a {
    display: block;
    color: white;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mobile-nav a:last-of-type {
    margin-bottom: 0;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .header a.mobile-nav-btn {
        display: block;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.landing .scroll-down {
    -webkit-animation: blink 1.5s linear infinite;
    -moz-animation: blink 1.5s linear infinite;
    -ms-animation: blink 1.5s linear infinite;
    -o-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;
    width: 100%;
    padding: 44px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 3em;
}

.sections {
    width: 100%;
    height: auto;
}

.sections a {
    display: block;
    width: 25%;
    height: 280px;
    line-height: 280px;
    float: left;
    text-align: center;
    background-size: cover;
    color: white;
    font-weight: 900;
    font-size: 1.3em;
    text-transform: uppercase;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .sections a {
        width: 100%;
        float: none;
    }
}

.sections a:nth-of-type(1) {
    background-image: url(../img/home-images/movementapparel-image-1.jpg);
}

.sections a:nth-of-type(2) {
    background-image: url(../img/home-images/movementapparel-image-2.jpg);
}

.sections a:nth-of-type(3) {
    background-image: url(../img/home-images/movementapparel-image-3.jpg);
    background-position: center top;
}

.sections a:nth-of-type(4) {
    background-image: url(../img/home-images/movementapparel-image-4.jpg);
    background-position: center bottom;
}

.sections span {
    padding: 12px 18px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s ease all;
}

.sections span:hover {
    background-color: black;
}

.footer {
    width: 100%;
    height: auto;
    padding: 80px 44px;
}

.footer a {
    color: black;
    font-size: 0.7em;
}

.footer .third {
    float: left;
    width: 33.33%;
    height: auto;
}

@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .footer .third {
        width: 100%;
        float: none;
        padding: 22px;
    }
}

.footer .left,
.footer .right {
    font-size: 100;
    line-height: 1.4em;
    color: #c6c6c6;
    font-size: 0.8em;
    font-weight: 100;
}

.footer .left {
    text-align: left;
}

.footer .right {
    text-align: right;
    text-align: right;
}

.footer .logo {
    text-align: center;
}

.footer .logo img {
    width: 100%;
    max-width: 220px;
}

.footer .subscribe {
    padding: 0 22px;
    text-align: center;
}

.footer input {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #d5d5d5;
}

.footer-line {
    width: 100%;
    height: auto;
    padding: 22px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 0.7em;
    text-align: center;
}

.footer-line a {
    margin-right: 12px;
    color: black;
}

.footer-line a:last-of-type {
    margin-right: 0;
}

.footer-line .left {
    float: left;
}

.footer-line .right {
    float: right;
}

.center-box {
    width: 100%;
    max-width: 620px;
    height: auto;
    overflow: auto;
    margin: 80px auto;
    padding: 22px;
}

.center-box p {
    line-height: 1.8em;
    font-size: 1.1em;
    font-weight: 100;
    margin-bottom: 12px;
    text-indent: 44px;
}

.center-box p a {
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.6em;
}

.center-box .links {
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 22px;
}

.center-box .links a {
    margin-right: 22px;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
}

.center-box .links a:last-of-type {
    margin-right: 0;
}

.gallery {
    width: 100%;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}

.gallery img {
    height: 100%;
    margin-right: 4px;
}

.gallery img:last-of-type {
    margin-right: 0;
}
@media only screen and (min-device-width: 320px) and (max-width: 768px) {
    .center-box {
        margin: 0;
    }
}